<!--html for the data page or whatever we want to name it
enter data into bar, create graph on this page-->
{%  extends "header.html" %}
{% block content %}

<!--
This chunk of code is responsible for reading the contents of the dictionary and storing them in a scroll menu
I added this because that way we don't have to worry about user misinput
--Gianmarco Beteta 
-->
<h1>Stocks</h1>
<div class="container-fluid">
    <h2>Select your company of interest</h2>
    <form method="POST" action="{{  url_for('stocks') }}">
        <select name ="comp_select">
            {% for key, value in content.items() %}
            <option value="{{key}}">{{key}}</option>
            {% endfor %}
            
        </select>
        <button type="submit" class="btn btn-default">Search</button>
        
    </form>
</div>
<h2>Latest Business News</h2>
<div class="container-fluid">
    <ul>
        {% for i in range(0,12) %}
        {%if i % 2 == 0%}
        <li><a href= "{{business_lists[i+1]}}" target="_blank">{{business_lists[i]}}</a></li>
        {%endif%}
        {% endfor %}
    </ul>
</div>
{% endblock %}