<!--This is the header of the website
It is responsible for the links to different pages of the website that you see at the top of every page-->
<html>
    <head>
        <title>CIS 4930 Python Project</title>
    </head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{  url_for('home') }}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{  url_for('Team_Members') }}">Team Members<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{  url_for('stocks') }}">Stocks<span class="sr-only">(current)</span></a></a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>




            <!--Links to all the different pages across the website-->
        <!--<div><p><a href = "{{  url_for('home') }}">Home</a></p></div>
        <p><a href = "{{  url_for('Team_Members') }}">Team Members</a></p>
        <p><a href = "{{  url_for('stocks') }}">Stocks</a></p> -->


    <!--code to flash methods found here
    https://gist.github.com/damyanbogoev/a60fdd159f0b579e482d2ca577be6270#file-layout-htm
    -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        {%  block content %}{% endblock %}




    </body>
</html>