<!--html code for the home page
Displays Objective and about paragraphs that Andres typed up-->
{%  extends "header.html" %}
{% block content %}

    <h1>Web-Based Financial Graph Application</h1>
    <br>
    <div class = "container-fluid">
        <h2>Objective</h2>
        <p>Build a Web-based Financial Graph application, which takes datasets
        and stock market data and displays Bokeh Charts in a deployed live server.</p>
    </div>
    <div class = "container-fluid">
        <h2>About this Project</h2>
    <p>The work will be divided in modules, previous knowledge of SQL which
    will be required for a part of the project to handle the data. Some of
    our members are currently learning about data handling and how it can be
    applied to the project. One person will be in charge of handling the
    website development and deployment. Another module will be focused on the
    graphics user interface of the project such as how to display the
    graphics and different layouts. This will be divided into two parts since
    it requires a lot of stylization specially with the candlestick segments
    and embedding the charts with quadrants.</p>
    </div>

{% endblock %}
