<!--html for team members page
just shows a list of the members of the group. Possibly add credits to this later like what
parts of the project everyone is responsible for-->
{%  extends "header.html" %}
{% block content %}
    <h1>Team Members</h1>
    <ul>
    <li> <a href="https://github.com/jkhudson80">Keifer Hudson: Web Development</a></li>
    <li><a href="https://github.com/dicastrom">Diego Castro</a></li>
    <li><a href="https://github.com/gbeteta">Gianmarco Beteta</a> </li>
    <li><a href="https://github.com/aap17e">Andres Paz Vicca</a></li>
    </ul>

{% endblock %}