<!--html for team members page
just shows a list of the members of the group. Possibly add credits to this later like what
parts of the project everyone is responsible for-->
{%  extends "header.html" %}
{% block content %}
<!-- Page Content -->
<br>
<br>
<br>
<br>
<br>
<div class="container">
        <div class="row">
            <div class="col col-md-offset-6 text-center">
                <h2>Objective</h2>
                <p>Build a Web-based Financial Graph application, which takes datasets and stock market data and displays Bokeh Charts in a deployed live server.</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col col-md-offset-6 text-center">
                <h2>About the project</h2>
                <p>The work will be divided in modules, previous knowledge of SQL which
                    will be required for a part of the project to handle the data. Some of
                    our members are currently learning about data handling and how it can be
                    applied to the project. One person will be in charge of handling the
                    website development and deployment. Another module will be focused on the
                    graphics user interface of the project such as how to display the
                    graphics and different layouts. This will be divided into two parts since
                    it requires a lot of stylization specially with the candlestick segments
                    and embedding the charts with quadrants.
                </p>

            </div>
        </div>
        <br>
        <br>
    </div>
<div class = "col col-md-offset-6">
        <div class="container">
                <div class="row">
                  <!-- Team Member 1 -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                      <img src="/static/pictures/person1.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title mb-0">Andres Paz Vicca</h5>
                        <div class="card-text text-black-50">Plot Graphing</div>
                      </div>
                    </div>
                  </div>
                  <!-- Team Member 2 -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                      <img src="/static/pictures/person2.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title mb-0">Diego Castro</h5>
                        <div class="card-text text-black-50">Web Skimming</div>
                      </div>
                    </div>
                  </div>
                  <!-- Team Member 3 -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                      <img src="/static/pictures/person3.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title mb-0">Keifer Hudson</h5>
                        <div class="card-text text-black-50">Back End Web Development</div>
                      </div>
                    </div>
                  </div>
                  <!-- Team Member 4 -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                      <img src="/static/pictures/person4.jpg" class="card-img-top" alt="...">
                      <div class="card-body text-center">
                        <h5 class="card-title mb-0">Gianmarco Beteta</h5>
                        <div class="card-text text-black-50">Front End Bootstrap</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.row -->
              
              </div>



</div>

{% endblock %}